body {
  font-family: sans-serif;
  background-color: #ddc1bb;
}

a {
  text-decoration: none;
  color: white;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.single-product {
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
}

.not-found {
  text-align: center;
  font-size: 1.5em;
  margin: 20px;
}

.whole-cart {
  margin: 20px;
}

.cart {
  padding: 1rem;
  margin: 1rem;
  display: flex;
}
.cart-header {
  border-bottom: 0.1rem gray solid;
}

.cart-items {
  padding: 0;
  width: 30%;
  list-style-type: none;
}

.cart-items img {
  width: 10rem;
}

.cart-items li {
  display: flex;
}

.cart-items li div {
  padding: 0.5rem;
}

.cart-items li div:last-child {
  flex: 1;
}

.cart-total {
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px;
}

.right {
  text-align: right;
}

.d-block {
  height: 85vh;
}

.user-table {
  background-color: white;
  width: 50%;
  margin: 10px;
}

.logo {
  width: 75px;
  height: 75px;
}

.heading {
  margin: 10px;
}

.signup-login {
  color: black;
  margin: 15px;
}

.carousel-text {
  color: grey;
}
