body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.single-product {
  margin-left: 30%;
}

.not-found {
  text-align: center;
  font-size: 1.5em;
  margin: 10px;
}

.cart {
  padding: 1rem;
  margin: 1rem;
  display: flex;
}
.cart-header {
  border-bottom: 0.1rem gray solid;
}

.cart-items {
  padding: 0;
  width: 30%;
  list-style-type: none;
}

.cart-items img {
  width: 10rem;
}

.cart-items li {
  display: flex;
}

.cart-items li div {
  padding: 0.5rem;
}

.cart-items li div:last-child {
  flex: 1;
}

.right {
  text-align: right;
}
